@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 20px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280; 
    cursor: pointer;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #2b303a;
  -webkit-text-fill-color: #1d232a;
  -webkit-box-shadow: 0 0 0px 1000px #e4e4e7 inset;
  box-shadow: 0 0 0px 1000px #e4e4e7 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}